.first_box {
  background-color: #b300b3;
  border-radius: 10px;
  text-align: center;
}
body {
  background-image: url(https://media.istockphoto.com/photos/pink-background-wall-picture-id848765404?k=20&m=848765404&s=612x612&w=0&h=ijscecmpneQ5Zd-ni-OPd51G3W0IO_2l953QM-fji2U=);
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.second_box {
  background-color: white;
  width: 500px;
  color: black;
  padding: 10px;
  border-radius: 10px;
}
.lf--input {
  width: 95%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
  align-content: center;
}
.submit-btn {
  background-color: #04aa6d;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 80%;
  border-radius: 10px;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
